__pycache__
.env
.venv
.coverage
htmlcov/
nanobot
memory
sandbox-runtime/
node_modules
package.json
package-lock.json
mini_agent
.DS_Store
.pytest_cache/
*.log
.openai/
.codebuddy/
.claude/
AGENTS.md
.vscode/
